<header class="w-full md:h-[100px] border-primary border-b">
    <app-wrapper class="h-full">
        <div class="flex items-center h-full justify-evenly">
            <div class="">
                <app-lang-switch></app-lang-switch>
            </div>
            <div class="flex flex-grow-[1] justify-center">
                <app-logo></app-logo>
            </div>
            <div class="">
                <app-desktop-menu></app-desktop-menu>
            </div>
        </div>
    </app-wrapper>
</header>