<nav class="flex items-center justify-end">
    <ul class="flex items-center gap-x-[30px]">
        <li>
            <app-link [href]="buildUrl('/')">
                {{ 'MENU.HOME' | translate }}
            </app-link>
        </li>
        <li>
            <app-link [href]="buildUrl('/learn')">
                {{ 'MENU.LEARN' | translate }}
            </app-link>
        </li>
        <li>
            <app-link [href]="buildUrl('/contact')">
                {{ 'MENU.CONTACT' | translate }}
            </app-link>
        </li>
    </ul>
</nav>
