<app-swiper swiperId="skillcarouse">
    <swiper-container
        class="swiper"
        slides-per-view="7"
        space-between="60"
        autoplay="true"
        autoplay-delay="3500"
        autoplay-disable-on-interaction="false"
        pagination="true"
        [breakpoints]="{
            '280': {
                'slidesPerView': 3
            },
            '768': {
                'slidesPerView': 7
            }
        }"
        >
        <swiper-slide *ngFor="let sk of skills">
            <div *ngIf="sk.fields.logo != undefined || sk.fields.logo != null">
                <img
                    class="w-[100px]"
                    [src]="getLogoUrl(sk.fields.logo)"
                    [alt]="sk.fields.titleskill" />
            </div>
        </swiper-slide>
    </swiper-container>
</app-swiper>
