<app-swiper swiperId="skillcarouse">
    <swiper-container
        class="swiper"
        slides-per-view="7"
        space-between="16"
        [loop]="true"
        [breakpoints]="{
            '280': {
                'slidesPerView': 1.6
            },
            '768': {
                'slidesPerView': 7
            }
        }"
        >
        <swiper-slide *ngFor="let sk of skills">
            <div *ngIf="sk.fields.logo != undefined || sk.fields.logo != null">
                <img [src]="getLogoUrl(sk.fields.logo)" [alt]="sk.fields.titleskill" />
            </div>
        </swiper-slide>
    </swiper-container>
</app-swiper>
